/*
        .gridMain{
            display: grid ;
            grid-template-columns: auto auto;
            grid-template-rows: 80vh;
        }
        .gridMain > div {
            padding-left: 5px;
            padding-right: 5px;
        }

        .Left{ grid-column: 1/ span 1;}
        .Right{ grid-column: 2/ span 1; }
        .Top{ grid-row: 1/ span 1; }
        .Bottom{ grid-row: 2/ span 1; }
    */

#gridMain,
#gridMain table td,
#gridMain table th{font-size: 16px !important;}
#gridMain { display: flex;  flex-wrap: nowrap; width: 80vw  }
#gridMain > div { height: 80vh;}
#map { overflow: auto; width: 80vh; }

#RightDiv > div > div { height: 30vh !important; }

#moveBtnDiv button,
#saveBtnDiv button{ margin: 5px; }
#moveBtnDiv button img,
#saveBtnDiv button img{ width: 20px; height: 20px; padding: 5px; }

#infoButton { align-self: end; border: black 1px dashed; margin: 5px }
#infoButton span{ font-size: initial; padding: 5px; padding-right: 0 }
#infoButton img{ width: 20px; height: 20px; padding: 5px }

#tankDiv img { width: 100px; height: 100px; }

#commandsDiv { overflow: auto; height: 20vw; min-width: 250px}

#commands th{ position: sticky; top: 0;}
#commands td,
#commands th{ text-align: center; background: lightgray; border:  2px solid black  }

#commands tr > td:nth-child(1){ width: 20px}
#commands tr > td:nth-child(2),
#commands tr > td:nth-child(3),
#commands tr > td:nth-child(4)
{
    padding: 5px ;
    width: 50px ;
    height: 50px ;
}

#gameButtonsDiv{ overflow: auto; min-width: 232px; }

#gameButtonsDiv > div {}
#gameButtonsHead{ width: 100%; }
#gameButtonsHead > button {padding: 5px}

#gameButtons { display: flex; flex-wrap: wrap; justify-content:space-evenly }

.driver{ border: #F00 solid !important; }
.gunner{ border: #0F0 solid !important; }
.charger{ border: #00F solid !important; }

.flex-column{ display: flex; flex-direction: column; align-items: center}
.flex-row{ display: flex; flex-direction: row; align-items: center}
.flex-justify-start {justify-content: flex-start;}
.flex-justify-evenly {justify-content:space-evenly;}

.widthAll { width: 100%; }
.overflow { overflow: auto}